/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  /*padding: 0 15px;*/

}
.icon-block .material-icons {
	font-size: inherit;
}


label {
  padding-right: 5px;
}

#logo-container img {
  max-width: 50%;
  padding-top: 1%;
}

nav .nav-wrapper {
  margin-left: 3%;

}
nav .nav-wrapper ul{
  margin-right: -32%;
}

.row {
  padding-top: -3%;
}

#index{
  background-image: url(https://source.unsplash.com/2100x1200/?nature);
}

.card-panel h4 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 3em;
  margin-top: -3%;
}

.card-panel{
  margin-top: 0;
}

#results {
  box-shadow: none;
}

#logo-container{
  color: black;
  font-variant: small-caps;
  font-weight: bold;
}

.hide-on-med-and-down {
  /*font-variant: small-caps;*/
  font-size: 2em;
}

#formPage {
  background-image: url(https://source.unsplash.com/2100x1200/?nature);
}
